.fotoIndex{
    width:375px;
    height:300px;
    border: 4px solid blue;
    border-radius: 50%;
}

main img{
    margin-top: 75px;
    margin-left: 50px;
    float:left;
}

main section{
    float:right;
    margin-bottom: 200px;

}